table {
	border-collapse:collapse;
	display:inline-block;
	vertical-align:bottom;
}
th, td {
	border:solid 1px;
	border-color:#c0c0c0;
	padding:5px;
}

th {
	color:#808000;
	background-color:#acffd6;
}

.align-right{
	text-align:right;
}

span {
	color:red;
	font-weight:bold;
}

img {
	width:40px
}



div {
	width:500px;
	margin-right:auto;
	margin-left:auto;
	padding:2em;
	border:1px solid #c0c0c0;
	border-radius:5px;
}
.right {
	text-align:right;
	margin-right:auto;
	margin-left:auto;
}


input {
	width:400px;
}
textarea {
	width:400px;
	height:100px;
}
.submit {
	width:6em;
	background-color:#0000ff;
	color:white;
}
.sub {
	text-align:center;
}

